{% extends 'index/layout.html' %}
{% block body %}

<div class="layout">

    <div class="container d-flex flex-column mt-5">
        <div class="row align-items-center justify-content-center no-gutters min-vh-100">

            <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">

                <!-- Heading -->
                <h1 class="font-bold text-center text-info">Sign in to ZETA</h1>

                <!-- Text -->
                <p class="text-center text-muted mb-6 h5 mt-3">Welcome to the world of ZETA forms.</p>
                <hr>
                {% if message %}

                <div class="alert alert-danger" role="alert">

                        {{message}}

                </div>
                {% endif %}

                <div class="card">
                <!-- Form -->
                <form class="mb-6 mt-4" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <!-- Email -->
                    <div class="form-group">
                        <label for="username" class="sr-only">Username</label>
                        <input type="text" class="form-control form-control-lg" name='username' id="username" placeholder="Enter your username">
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" class="form-control form-control-lg" name='password' id="password" placeholder="Enter your password">
                    </div>

                    <div class="form-group d-flex justify-content-between">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" checked="" id="checkbox-remember">
                            <label class="custom-control-label" for="checkbox-remember">Remember me</label>
                        </div>
                        <a href="#">Reset password</a>
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg btn-block btn-primary btn-sm" type="submit">Sign in</button>
                </form>

                </div>

                <!-- Text -->
                <br>
                <p class="text-center">
                    Don't have an account yet <a href="{% url 'register' %}">Sign up</a>.
                </p>

            </div>
        </div> <!-- / .row -->
    </div>

</div><!-- .layout -->


{% endblock %}